<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-card-header>
        <ion-card-subtitle>Todays Workout</ion-card-subtitle>
       
      </ion-card-header>
     
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click) = 'openPopover()'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

</ion-content>

<ion-footer>
  <ion-item class= "CenterHome">
    <ion-button fill="outline">Import</ion-button>
    <ion-button fill="outline">Progress</ion-button>
    <ion-button fill="outline">Goals</ion-button>
</ion-item>
</ion-footer>